// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,500,700,800,900');
body{
   font-family: 'Montserrat', sans-serif;
   /* padding-top: 56px; */
}
a{
   color: $secondary;
}
.brand_bgblue{
   background-color: $primary !important;
}
.brand_bgyellow{
   background-color: $secondary !important;
}
.brand_bgwhite{
   background-color: $wht !important;
}
.brand_bggray{
   background-color: $gray !important;
}
.brand_txtblue{
   color: $primary !important;
}
.brand_txtyellow{
   color: $secondary !important;
}
/* NAVBAR */
.navbar{
   -webkit-transition:200ms ease;
   -moz-transition:200ms ease;
   -o-transition:200ms ease;
   transition:200ms ease;
   font-size: 0.8rem;
}
.navbar-brand{
   max-width: 250px;
   -webkit-transition: 0.2s ease;
   -moz-transition: 0.2s ease; 
   -o-transition: 0.2s ease;        
   transition: 0.2s ease;  
}
.navbar-nav{
   li{
      a{
         color: $wht!important;
      }
      a:hover{
         color: $secondary !important;
      }
   }
}
.navbar.shrink{
   .navbar-brand{
      max-width: 180px;
   }
}
.dropdown-menu{
   background-color: $lightprimary;
   font-size: 0.85rem;
   .dropdown-item{
      padding: .25rem 1rem;
   }
   li{
      .dropdown-item:focus, 
      .dropdown-item:hover{
         background-color: $lightprimary;
      }
      a{

      }
   }
}
.beamember_cta{
   color: $wht !important;
   padding: .7rem 1.2rem !important;
   min-width: 150px;
}
.beamember_cta:hover{
   color: $wht !important;
}
.icons_btn{
   color: $wht !important;
}
.icons_btn:hover{
   color: $secondary !important;
}
/* MAIN CONTENT */
/*homepage*/
.homepage_header_bg{
    top: 0;
    left: 0;
    background-image: url("../img/homepage-1.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    z-index: 0;
    mix-blend-mode: normal;
    opacity: 0.3;
}

p.text-white a{
    color: $secondary !important;
}
p{
   a{
      color: $secondary !important;
   }   
}

.hr-left {
    background-image: -moz-linear-gradient(0deg,#e8b334 0%,#ffd164 100%) !important;
    background-image: -webkit-linear-gradient(0deg,#e8b334 0%,#ffd164 100%) !important;
    background-image: -ms-linear-gradient(0deg,#e8b334 0%,#ffd164 100%) !important;
    width: 121px;
    height: 3px;
    margin-bottom: .8rem;
}
/* FOOTER */
.footer-brand{
   max-width: 200px;
   display: block;
}
.footernav a{
   color: #FFFFFF;
}
.footernav_icons a{
   font-size: 1.4rem;
}
.disclaimer{
   font-size: 0.8rem;
}
.sponsor_footer{
   font-size: 0.8rem;
}

/* BUTTONS */
.btn{
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
}
.btn-primary{
   padding: .75rem 3rem;
   background: rgba(254,182,69,1);
   background: -moz-linear-gradient(45deg, rgba(254,182,69,1) 0%, rgba(241,231,103,1) 100%);
   background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(254,182,69,1)), color-stop(100%, rgba(241,231,103,1)));
   background: -webkit-linear-gradient(45deg, rgba(254,182,69,1) 0%, rgba(241,231,103,1) 100%);
   background: -o-linear-gradient(45deg, rgba(254,182,69,1) 0%, rgba(241,231,103,1) 100%);
   background: -ms-linear-gradient(45deg, rgba(254,182,69,1) 0%, rgba(241,231,103,1) 100%);
   background: linear-gradient(45deg, rgba(254,182,69,1) 0%, rgba(241,231,103,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb645', endColorstr='#f1e767', GradientType=1 );
   border:1px solid rgba(254,182,69,1);
}
.btn-primary:hover{
   background: rgba(255,219,74,1);
   background: -moz-linear-gradient(45deg, rgba(255,219,74,1) 0%, rgba(255,197,23,1) 100%);
   background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,219,74,1)), color-stop(100%, rgba(255,197,23,1)));
   background: -webkit-linear-gradient(45deg, rgba(255,219,74,1) 0%, rgba(255,197,23,1) 100%);
   background: -o-linear-gradient(45deg, rgba(255,219,74,1) 0%, rgba(255,197,23,1) 100%);
   background: -ms-linear-gradient(45deg, rgba(255,219,74,1) 0%, rgba(255,197,23,1) 100%);
   background: linear-gradient(45deg, rgba(255,219,74,1) 0%, rgba(255,197,23,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdb4a', endColorstr='#ffc517', GradientType=1 );
   border:1px solid rgba(255,219,74,1);
}
.btn-white{
   color: #cea000;
   padding: .75rem 3rem;
   background: rgba(255,255,255,1);
   background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
   background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
   background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
   background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
   background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
   background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
   border:1px solid rgba(255,255,255,1);
}
.btn-white:hover{
   color: #d9a903;
   background: rgba(245,245,245,1);
   background: -moz-linear-gradient(45deg, rgba(245,245,245,1) 0%, rgba(240,240,240,1) 100%);
   background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(245,245,245,1)), color-stop(100%, rgba(240,240,240,1)));
   background: -webkit-linear-gradient(45deg, rgba(245,245,245,1) 0%, rgba(240,240,240,1) 100%);
   background: -o-linear-gradient(45deg, rgba(245,245,245,1) 0%, rgba(240,240,240,1) 100%);
   background: -ms-linear-gradient(45deg, rgba(245,245,245,1) 0%, rgba(240,240,240,1) 100%);
   background: linear-gradient(45deg, rgba(245,245,245,1) 0%, rgba(240,240,240,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f0f0f0', GradientType=1 );
   border:1px solid rgba(245,245,245,1);
}
.btn-invert{
   color: #000000;
   padding: .75rem 3rem;
   border: 2px solid rgba(241,231,103,1);
   position: relative;
}
.btn-invert:hover{
   color: #ffffff !important;
   background: rgba(255,193,5,1);
   background: -moz-linear-gradient(45deg, rgba(255,193,5,1) 0%, rgba(230,151,32,1) 100%);
   background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,193,5,1)), color-stop(100%, rgba(230,151,32,1)));
   background: -webkit-linear-gradient(45deg, rgba(255,193,5,1) 0%, rgba(230,151,32,1) 100%);
   background: -o-linear-gradient(45deg, rgba(255,193,5,1) 0%, rgba(230,151,32,1) 100%);
   background: -ms-linear-gradient(45deg, rgba(255,193,5,1) 0%, rgba(230,151,32,1) 100%);
   background: linear-gradient(45deg, rgba(255,193,5,1) 0%, rgba(230,151,32,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc105', endColorstr='#e69720', GradientType=1 );
   border:2px solid #e9b605;
}
/* SPACING GRID */
.header_twoline_1rem{
    min-height: 45px;
}
/* BOARD DIRECTOR LIST */
.boardmember_photo{
   margin-top: -100%;
   padding: 3px;
   background: rgba(241,231,103,1);
   background: -moz-linear-gradient(45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
   background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
   background: -webkit-linear-gradient(45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
   background: -o-linear-gradient(45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
   background: -ms-linear-gradient(45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
   background: linear-gradient(45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
   border-radius: 10px;

   img{
      border-radius: 8px;
      width: 100px;
   }
}


/* CATEGORY ARCHIVE LIST */
.archive_news_block a:hover{
    color: $secondary !important;
    text-decoration: none;
}
.archive_news_headerimg a{
   background-color: #f9f9f9;
   display: block;
}
.text-secondary{
   color: #6c757d!important;
}

/* ECOSYSTEM*/
.ecosystem_logoblock{
    background-color: #f3f3f3;
}
.ecosystem_logothumbnail{
    max-width: 80px;
    border: 5px solid rgba(241,231,103,1); 
    border-image-source: -moz-linear-gradient(45deg, rgba(254,182,69,1) 0%, rgba(241,231,103,1) 100%);
    border-image-source: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(254,182,69,1)), color-stop(100%, rgba(241,231,103,1)));
    border-image-source: -webkit-linear-gradient(45deg, rgba(254,182,69,1) 0%, rgba(241,231,103,1) 100%);
    border-image-source: -o-linear-gradient(45deg, rgba(254,182,69,1) 0%, rgba(241,231,103,1) 100%);
    border-image-source: -ms-linear-gradient(45deg, rgba(254,182,69,1) 0%, rgba(241,231,103,1) 100%);
    border-image-source: linear-gradient(45deg, rgba(254,182,69,1) 0%, rgba(241,231,103,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
    border-image-slice: 5;
}
.imageavatar_border{
    display: block;
    border: 5px solid rgba(241,231,103,1); 
    border-image-source: -moz-linear-gradient(45deg, rgba(254,182,69,1) 0%, rgba(241,231,103,1) 100%);
    border-image-source: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(254,182,69,1)), color-stop(100%, rgba(241,231,103,1)));
    border-image-source: -webkit-linear-gradient(45deg, rgba(254,182,69,1) 0%, rgba(241,231,103,1) 100%);
    border-image-source: -o-linear-gradient(45deg, rgba(254,182,69,1) 0%, rgba(241,231,103,1) 100%);
    border-image-source: -ms-linear-gradient(45deg, rgba(254,182,69,1) 0%, rgba(241,231,103,1) 100%);
    border-image-source: linear-gradient(45deg, rgba(254,182,69,1) 0%, rgba(241,231,103,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
    border-image-slice: 5;
    background-color: $wht;
    max-width: 200px;
}
.ecosystem_excerpt{
    background-color: #e2e2e2;
}
.gridder {
    margin: 0px;
    padding: 0px;
    list-style-type: none
}

.gridder-list {
   display: inline-block;
   vertical-align: top;
   width: 49.5%;
   cursor: pointer;
   position: relative;
}

.gridder-show {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    background: #EEE url("../images/loading-spin.svg") no-repeat center
}

.gridder-show.loading {
    background: #EEE url("../images/loading-spin.svg") no-repeat center
}

.gridder-content {
    display: none;
}


.gridder-show {
    padding: 20px;
    background: #005490;
    margin-bottom: 1%
}

.gridder-navigation .gridder-nav.disabled {
    opacity: .5;
}


.gridder-list:hover {
    opacity: 0.8;
}

.hasSelectedItem .gridder-list {
    opacity: .5;
}

.hasSelectedItem .gridder-list.selectedItem {
    opacity: 1;
}

.selectedItem::before{
    content: "";
    z-index: 1;
    position: absolute;
    bottom: -20px;
    left: 42%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 30px 20px;
    border-color: transparent transparent #005490 transparent;
}

/* FORMS */

.std-forms{
   .form-control{
      border-color: #f1c432;
      background-color: #f9f9f9;
      color: #b7b7b7;
      min-height: 37px;
   }
   .form-control::placeholder {
      color: #b7b7b7;
   }
   .form-control:focus{
      border-color: $secondary;
      box-shadow: 0 0 0 0.2rem rgba(234,179,0,.25);
      background-color: #FFFFFF;
      color: #000000;
   }
   .form-group{
      label a{
         color: #FFC107 !important;
      }
      select{
         min-height: 37px !important;
      }
      .wpcf7-select{
         height: 37px !important;
      }
      .wpcf7-submit{
         max-width: 200px;
         color: #FFFFFF !important;
         height: 50px;
         padding: .75rem 3rem;
      }
   }

}

/* VIDEO PAGE */
.hover-video{
   background-color: rgba(10, 86, 140, 0.2);
}
.hover-video:hover{
   background-color: transparent;
}
.hover-video i{
   font-size: 4rem;
   color: $wht;
   opacity: 0.4;
   top: 33%;
   left: 45%;
}
.hover-video:hover i{
   opacity: 0;
}
/* PAGINATION */
.pagination a.page-link{
    color: $primary;
}
.pagination a.page-link:hover{
    background-color: $secondary;
}
/** MEDIA QUERIES **/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .gridder-list {
        width: 25%;
    }
    .vr_divider{
        border-left: 1px solid #00416b;
        border-right: 1px solid #0e78c2;
        height: 100vh;
        max-height: 250px;
        width: 1px;
    }
    /* TEXT SIZES */
    .font0_8{
        font-size: 0.8rem;
    }
    .font0_85{
        font-size: 0.85rem;
    }
    .font0_9{
        font-size: 0.9rem;
    }
    .font1_1{
        font-size: 1.1rem;
    }
    .font1_0{
        font-size: 1rem;
    }
    .font1_2{
        font-size: 1.2rem;
    }
    .font1_4{
        font-size: 1.4rem;
    }
    .font1_6{
        font-size: 1.6rem;
    }
    .font1_8{
        font-size: 1.8rem;
    }
    .font2_0{
        font-size: 2rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}